#
# Copy and rename this file to .env.local at root of this project.
# This file is ignored by git. You can put credentials that only apply to this local installation.
#

# See .env for environment variables that can be stored and shared in the git repository.
#
# Uncomment and populate as needed.
